<include href="views/header.html">
<body>
    <h1>{{ @title }}</h1>
    <p>The temperature is {{ @temp }} degrees F which is equivalent to
        {{ round((@temp-32) * (5.0/9.0), 2) }} degrees C.</p>

    <check if="{{ @temp >= 60 }}">
        <true><p>It's warm!</p></true>
        <false><p>It's cold!</p></false>
    </check>

    <p>The circumference of my circle is a number... {{ (2 * pi() * @radius) }}</p>

    <h2>My Favorite Fruits: </h2>
    <ul>
        <repeat group="{{ @fruits }}" value="{{ @fruit }}">
            <li>{{ trim(@fruit) }}</li>
        </repeat>
    </ul>

    <h2>My Bookmarks: </h2>
    <ul>
        <repeat group="{{ @bookmarks }}" value="{{ @bookmark }}">
            <li><a href="{{ @bookmark }}"> {{ str_replace('http://', '', @bookmark) }}</a></li>
        </repeat>
    </ul>

    <h2>My URLs: </h2>
    <ul>
        <repeat group="{{ @urls }}" key="{{ @name }}" value="{{ @url }}">
            <li><a href="{{ @url }}"> {{ @name }}</a></li>
        </repeat>
    </ul>

    <h2>Dessert Options</h2>
    <ul>
        <repeat group="{{ @desserts }}" value="{{ @key=>@value }}">
            <input type="checkbox" value="{{ @key }}">{{ @value }}<br>
        </repeat>
    </ul>

</body>
</html>